@model reservations_data.Models.Reservation  

@{
    ViewBag.Title = "Customer details";
    Layout = "_Layout";
}

Booking room: @Model.Room.Name on @Model.From.ToString("d.M.yyyy") @Model.From.ToString("HH\\:mm") - @Model.To.ToString("HH\\:mm")

<form method="post" asp-action="Create">
    <div class="form-group hide">
        <input asp-for="RoomId" type="hidden" value="@Model.Room.RoomId"/>
        <input asp-for="From" type="hidden" value="@Model.From.ToString("yyyy-MM-dd HH\\:mm")"/>
        <input asp-for="To" type="hidden" value="@Model.To.ToString("yyyy-MM-dd HH\\:mm")"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control"/>
        <span asp-validation-for="Email" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" type="text" class="form-control"/>
        <span asp-validation-for="FirstName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" type="text" class="form-control"/>
        <span asp-validation-for="LastName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone</label>
        <input asp-for="PhoneNumber" type="text" class="form-control"/>
        <span asp-validation-for="PhoneNumber" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Note</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>
    <div class="text-right">
        <input type="submit" value="Create booking" class="btn btn-primary"/>
    </div>
</form>